.border {
  padding: 0.3rem;
  border: solid;
  border-color: red($color: #412e2e41);
  border-width: 1px;
  margin-top: 0.4rem;
  margin-bottom: 0.4rem;
  color: white;
  border-radius: 10px;
}

.border2 {
  padding: 0rem;
}

/* HTML: <div class="loader"></div> */


.buttoninlineStyle {
  margin: 4px;

}



.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.ball {
  width: 8px;
  height: 8px;
  border-radius: 47px;
  margin: 0px 2px;

  animation: 2s bounce ease infinite;
}

.blue {
  background-color: #2e67ad;
}

.yellow {
  background-color: #f6c527;
  animation-delay: .25s;
}

.green {
  background-color: #34A952;
  animation-delay: .45s;
}

.blueOne {
  background-color: #2e67ad;
  animation-delay: .65s;
}

.yellowOne {
  background-color: #f6c527;
  animation-delay: .85s;
}

.greenOne {
  background-color: #34A952;
}

@keyframes bounce {
  50% {
    transform: translateY(8px);
  }
}

@keyframes pulse {
  0% {
    width: 5px;
    height: 20px;
  }

  50% {
    width: 5px;
    height: 12px;
  }

  100% {
    width: 5px;
    height: 20px;
  }
}

.pulseOne {
  animation: pulse 1.1s infinite ease-in-out;
  background: #2e67ad;
  border-radius: 47px;
  margin: 0px 2px;
}

.pulseTwo {
  background: #f6c527;
  border-radius: 47px;
  margin: 0px 2px;
  animation: pulse 1.4s infinite ease-in-out;
}

.pulseThree {
  background: #34A952;
  border-radius: 47px;
  margin: 0px 2px;
  animation: pulse 1.3s infinite ease-in-out;
}

.pulseFour {
  background: #2e67ad;
  border-radius: 47px;
  margin: 0px 2px;
  animation: pulse 1.5s infinite ease-in-out;
}

.pulseFive {
  background: #f6c527;
  border-radius: 47px;
  margin: 0px 2px;
  animation: pulse 1.8s infinite ease-in-out;
}

.pulseSix {
  background: #34A952;
  border-radius: 47px;
  margin: 0px 2px;
  animation: pulse 1.7s infinite ease-in-out;
}


.scrollHorizontal {
  overflow-y: hidden;
  display: flex;
  overflow-x: auto;
}


.SampleCardButtonDesign {
  background: #405cff;
  text-align: center;
  width: 20%;
  height: 20%;
  border: 0px black;
  border-radius: 1709px;
  color: white;
  font-size: large;
}

.roundbutton {
  border: none;
  display: inline-block;
  font-size: 1.8rem;
  border-radius: 1109px;
}

.EMPMiconSampleStatus {
  color: var(--lpx-success);
  font-size: 18px;
}

.EmSampleBorderBotto {
  border-bottom: 2px solid;
  margin: 8px;
  border-color: var(--lpx-warning);
}

.displayAtChatAtTop {
  display: none;
}

.ChatScreenSizeStyle {
  overflow-y: auto;
  height: 65vh;
  background: #d8d9c900;
  border: 0 solid;
  border-radius: 8px;
}



@media (max-height: 1000px) and (max-width: 500px) {
  .ChatScreenSizeStyle {
    overflow-y: auto;
    height: 59vh;
    background: #d8d9c900;
    border: 0 solid;
    border-radius: 8px;
  }
}

@media (max-height: 800px) and (max-width: 500px) {
  .ChatScreenSizeStyle {
    overflow-y: auto;
    height: 57vh;
    background: #d8d9c900;
    border: 0 solid;
    border-radius: 8px;
  }
}

@media (max-height: 750px) and (max-width: 500px) {
  .ChatScreenSizeStyle {
    overflow-y: auto;
    height: 54vh;
    background: #d8d9c900;
    border: 0 solid;
    border-radius: 8px;
  }
}

@media (max-height: 700px) and (max-width: 500px) {
  .ChatScreenSizeStyle {
    overflow-y: auto;
    height: 52vh;
    background: #d8d9c900;
    border: 0 solid;
    border-radius: 8px;
  }
}

@media (max-height: 600px) and (max-width: 500px) {
  .ChatScreenSizeStyle {
    overflow-y: auto;
    height: 51vh;
    background: #d8d9c900;
    border: 0 solid;
    border-radius: 8px;
  }
}

// @media (max-width: 450px) {
//   .displayAtChatAtbottom{
//     display: none;
//   }
//   .displayAtChatAtTop
//   {
//     display: inline;
//   }
// }

// @media (max-width: 500px) {
//   .displayAtChatAtTop{
//     display: none;
//   }
// }



////////
///
html {
  height: 100%;
}

.bodyStyle {
  width: 100%;
  height: 100%;
}

.chatScreenBootomPillTag {
  position: fixed;
  z-index: 1000;
  bottom: 7%;
}

// .chatScreenConvoLayout {}

@media (max-width: 600px) {
  .chatScreenBootomPillTag {
    position: fixed;
    z-index: 1000;
    bottom: 12%;
  }
}

///


.chatUserMessageClass {
  padding: 0.5rem;
  text-align: right;
  background: aliceblue;
  border-bottom-left-radius: 10px;
  border-top-left-radius: 10px;
  max-width: 86%;
  color: black;
}

.chatResponseMessageClass {
  padding: 0.5rem;
  text-align: left;
  background: aliceblue;
  border-bottom-right-radius: 10px;
  border-top-right-radius: 10px;
  max-width: 86%;
  color: black;
}


.classDivOpposite {
  display: flex;
  justify-content: space-between;
}

.chatCardsAndGraphs {
  padding: 0.5rem;
  text-align: left;
  border-bottom-right-radius: 10px;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.chatScreenMessageDateStyle
{
  color: var(--bs-body-color);
    font-size: xx-small;
}

.centerStyleimage{
  max-width: fit-content;
  margin-left: auto;
  margin-right: auto;
}

.closeButtonPosition
{
  position: absolute;
  top: 3%;
  right: 3%;
  font-size: x-large;
}
#pie-chart-parent {  display: flex; overflow: hidden; }

// thead, tbody, tfoot, tr, td, th {
//   border-color: inherit;
//   border-style: solid;
//   border-width: 1px;
//   padding: 1rem;
// }

.Header
{
  font-size: large;
  font-weight: bold;
  margin-bottom: 1rem;
}
