<abp-modal [(visible)]="isFileSelectionModelOpen">
  <ng-template #abpHeader>
    <h3>{{ '::SelectFiles' | abpLocalization }}</h3>
  </ng-template>

  <ng-template #abpBody>
    <form [formGroup]="fileForm" id="file-form">
      <select class="form-control" formControlName="selectedFiles" multiple="multiple">
        <option *ngFor="let file of this.listOfFiles" [value]="file">
          {{ file }}
        </option>
      </select>
    </form>
  </ng-template>

  <ng-template #abpFooter>
    <button type="button" class="btn btn-secondary" (click)="sendFilesToApi()">
      {{ '::Done' | abpLocalization }}
    </button>
  </ng-template>
</abp-modal>

<div class="bodyStyle">
  <div class="card mb-3">
    <div class="card-body" style="padding: 1% !important">
      <div class="chatScreenConvoLayout">
        <div id="ChatScreen" class="ChatScreenSizeStyle">
          <ng-container *ngFor="let message of this.messages; let i = index">
            <div
              class="border2 classDivOpposite"
              [style]="message.messageType == 1 ? ' text-align: right;' : ' text-align: left;'"
            >
              <div *ngIf="message.messageType == 1"></div>
              <div
                class="border"
                [class]="
                  message.messageType == 1 ? 'chatUserMessageClass' : 'chatResponseMessageClass'
                "
              >
                <div>{{ message.content }}</div>
                <br />
                <div *ngIf="message.img">
                  <img (click)="currentImage = message.img; isImageModelOpen = true;" [src]="'data:image/png;base64,' + message.img" alt="Plot Image" />
                </div>
                <span [innerHTML]="message.df"></span>
              </div>
              <div *ngIf="message.messageType == 2"></div>
            </div>
            <div
              *ngIf="message.content.length != 0"
              class="classDivOpposite"
              [style]="message.messageType == 1 ? ' text-align: right;' : ' text-align: left;'"
            >
              <div>
                <div
                  *ngIf="message.messageType == 2"
                  class="chatScreenMessageDateStyle"
                  style="padding-left: 1vw"
                >
                  {{ message.dateTime | shortDateTime }}
                </div>
              </div>
              <div>
                <div
                  *ngIf="message.messageType == 1"
                  class="chatScreenMessageDateStyle"
                  style="padding-right: 1vw"
                >
                  {{ message.dateTime | shortDateTime }}
                </div>
              </div>
            </div>
          </ng-container>
          <div *ngIf="this.showloader" class="wrapper" style="padding-bottom: 2%">
            <!-- <div class="col" id="isListening">
              <span>
                {{ '::loading...' | abpLocalization }}
              </span>
            </div> -->
            <div class="blue ball"></div>
            <div class="yellow ball"></div>
            <div class="green ball"></div>
            <div class="blueOne ball"></div>
            <div class="yellowOne ball"></div>
            <div class="greenOne ball"></div>
            <div class="col" id="isListening">
              <span>
                {{ ' ' }}
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div *ngIf="this.isMagicWordCalled == true || this.isListenButtonClicked == true" class="wrapper">
    <div class="col" id="isListening">
      <span>
        {{ '::Listening...' | abpLocalization }}
      </span>
    </div>
    <div class="pulseOne"></div>
    <div class="pulseTwo"></div>
    <div class="pulseThree"></div>
    <div class="pulseFour"></div>
    <div class="pulseFive"></div>
    <div class="pulseSix"></div>
  </div>
  <div class="">
    <form [formGroup]="chatForm" id="chat-form" validateOnSubmit>
      <div class="form-check form-check-inline">
        <input [attr.disabled]="isCallRunning() ? '': null"
          class="form-check-input"
          type="radio"
          name="returnResponseType"
          id="returnResponseType1"
          formControlName="returnResponseType"
          [value]="1"
        />
        <label class="form-check-label" for="returnResponseType1">
          {{ '::All' | abpLocalization }}
        </label>
      </div>
      <div class="form-check form-check-inline">
        <input [attr.disabled]="isCallRunning() ? '': null"
          class="form-check-input"
          type="radio"
          name="returnResponseType"
          id="returnResponseType2"
          formControlName="returnResponseType"
          [value]="2"
        />
        <label class="form-check-label" for="returnResponseType2">
          {{ '::Summary' | abpLocalization }}
        </label>
      </div>
      <div class="form-check form-check-inline">
        <input [attr.disabled]="isCallRunning() ? '': null"
          class="form-check-input"
          type="radio"
          name="returnResponseType"
          id="returnResponseType3"
          formControlName="returnResponseType"
          [value]="3"
        />
        <label class="form-check-label" for="returnResponseType3">
          {{ '::Chart' | abpLocalization }}
        </label>
      </div>
      <div class="form-check form-check-inline">
        <input [attr.disabled]="isCallRunning() ? '': null"
          class="form-check-input"
          type="radio"
          name="returnResponseType"
          id="returnResponseType4"
          formControlName="returnResponseType"
          [value]="4"
        />
        <label class="form-check-label" for="returnResponseType4">
          {{ '::Table' | abpLocalization }}
        </label>
      </div>
      <div class="input-group input-group-sm mb-3" placement="top-end" ngbDropdown>
        <input
          id="userMessage"
          type="text"
          formControlName="userMessage"
          class="form-control form-control-lg"
          autocomplete="off"
        />
        <button *ngIf="showloader"
          [disabled]="!isCallRunning()"
          type="submit"
          class="btn btn-outline-secondary"
          iconClass="fa fa-send"
          (click)="stopSendMessage()"
          formName="chat-form"
        >
          <span class="row">
            <span class="col">
              <i class="fas fa-pause-circle"></i>
            </span>
          </span>
        </button>
        <button *ngIf="!showloader"
          [disabled]="isCallRunning()"
          type="submit"
          class="btn btn-outline-secondary"
          iconClass="fa fa-send"
          (click)="sendMessage()"
          formName="chat-form"
        >
          <span class="row">
            <ng-container *ngIf="this.showloader">
              <span class="col">
                <span class="spinner-border spinner-border-sm" role="status">
                  <span class="visually-hidden">Loading...</span></span
                >
              </span>
            </ng-container>
            <span class="col">
              <i class="fas fa-paper-plane"></i>
            </span>
          </span>
        </button>
        <button
          class="btn btn-outline-secondary"
          iconClass="fa fa-microphone"
          [disabled]="
            !(
              this.chatForm.controls.returnResponseType.value != null &&
              this.showloader != true &&
              this.disableRecordingButton != true
            )
          "
          (click)="this.isListenButtonClicked = true"
        >
          <i class="fas fa-microphone"></i>
        </button>

        <button type="button" class="btn btn-outline-secondary" ngbDropdownToggle></button>
        <div ngbDropdownMenu>
          <button ngbDropdownItem (click)="openFileSelectionModel()">
            {{ '::selectFile' | abpLocalization }}
          </button>
          <button ngbDropdownItem (click)="clearChatHistory()">
            {{ '::clearChat' | abpLocalization }}
          </button>
        </div>
      </div>

      <div style="display: flex; justify-content: space-between">
        <div class="row">
          <div class="col">
            <ng-container *ngIf="this.currentSelectedFiles.length != 0">
              <b class="row">{{ '::SelectedFiles' | abpLocalization }}</b>
              <ng-container *ngFor="let selectedFile of this.currentSelectedFiles">
                <div class="row">
                  {{ selectedFile }}
                </div>
              </ng-container>
            </ng-container>
          </div>

          <div
            class="col"
            *ngIf="this.currentSelectedFiles.length != 0"
            (click)="clearSelectedFiles()"
          >
            <i style="color: var(--lpx-danger)" class="fas fa-trash"></i>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>


<abp-modal [(visible)]="isImageModelOpen" [options]="{fullscreen: 'xxl'}" style="height: 100%">
  <ng-template #abpBody style="height: 100%">
    <div *ngIf="currentImage" style="height: 100%" class="centerStyleimage">
      <img (click)="isImageModelOpen = true" style="height: 100%" [src]="'data:image/png;base64,' + currentImage" alt="Plot Image" />
    </div>
    <div class="closeButtonPosition">
    <i class="far fa-window-close"  (click)="isImageModelOpen = false; currentImage = ''"></i>
  </div>
  </ng-template>
</abp-modal>
