<p *ngIf="!hasLoggedIn">
  <a (click)="login()" class="btn btn-primary" role="button"
    ><i class="fa fa-sign-in me-1" aria-hidden="true"></i
    >{{ 'AbpAccount::Login' | abpLocalization }}</a
  >
</p>
<div *ngIf="hasLoggedIn" class="container-fluid">
  <div class="row">
    <div class="col-md-6">
      <div class="card">
        <div class="card-body">Content Top Left</div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="card">
        <div class="card-body">
          <app-chat-screen
            [showExpandButton]="true"
            (RouteToCaliGen)="RouteToCaliGen()"
          ></app-chat-screen>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <div class="card">
        <div class="card-header">
          <h5 class="card-title">{{ "::MostAskedQuestions" | abpLocalization}}</h5>
        </div>
        <div class="card-body">
          <div class="cardForQuestion" *ngFor="let question of this.questions">
            <span> {{ question }} </span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
