/* Styles for the home component */

.headerForItems{
  text-align: center;
    font-size: large;
    font-weight: bold;
}

.footerForItems{
  text-align: center;
    // font-size: large;
    font-weight: bold;
}

.HorsTimeChange{
  font-size: xxx-large;
    font-weight: 500;
    margin-top: 15%;
    margin-bottom: 15%;
}
