/* Your Global Styles
:root .lpx-theme-dim,
:root .lpx-theme-dark {
  --lpx-logo: url('/images/logo/leptonx/icon.svg'');
  --lpx-logo-icon: url('/images/logo/leptonx/icon.svg');
}

:root .lpx-theme-light {
  --lpx-logo: url('/images/logo/leptonx/icon.svg'');
  --lpx-logo-icon: url('/images/logo/leptonx/icon.svg');
}

:root {
  --lpx-theme-light-bg: url('/LeptonX/images/login-pages/login-bg-img-light.svg');
  --lpx-theme-dim-bg: url('/LeptonX/images/login-pages/login-bg-img-dim.svg');
  --lpx-theme-dark-bg: url('/LeptonX/images/login-pages/login-bg-img-dark.svg');
} */


/* Your Global Styles
:root .lpx-theme-dim, :root .lpx-theme-dark {
    --lpx-logo: url('/images/logo/leptonx/logo-light.svg');
    --lpx-logo-icon: url('/images/logo/leptonx/icon.svg');
}

:root .lpx-theme-light {
    --lpx-logo: url('/images/logo/leptonx/logo-dark.svg');
    --lpx-logo-icon: url('/images/logo/leptonx/icon.svg');
} */
/* Your Global Styles */
/* :root .lpx-theme-dim, :root .lpx-theme-dark {
    --lpx-logo: url('/images/logo/leptonx/logo-light.png');
    --lpx-logo-icon: url('/images/logo/leptonx/logo-light-thumbnail.png');
}

:root .lpx-theme-light {
    --lpx-logo: url('/images/logo/leptonx/logo-dark.png');
    --lpx-logo-icon: url('/images/logo/leptonx/logo-dark-thumbnail.png');
} */

:root .lpx-theme-dim, :root .lpx-theme-dark {
  --lpx-logo: url('/images/logo/leptonx/caliber-icon.png');
  --lpx-logo-icon: url('/images/logo/leptonx/caliber-icon.png');
}

:root .lpx-theme-light {
  --lpx-logo: url('/images/logo/leptonx/caliber-icon.png');
  --lpx-logo-icon: url('/images/logo/leptonx/caliber-icon.png');
}

:root .lpx-login-bg {
  background-image: none !important;
  background-color: #4e66c3;
}

:root .lpx-login-area {
  min-height: 100vh;
  overflow: auto;
  position: relative;
  background: var(--lpx-primary);
}

:root .lpx-logo-container {
  position: absolute;
  background-image: url(/images/clients/CaliberEMLoginImage.svg) !important;
  background-size: cover;
  background-repeat: no-repeat; 
  width: 43.5vw;
  height: 90vh;
  margin-left: 7vw;
  margin-top: -6vh;
}

:root .lpx-brand-name.lpx-login-name
{
  display: none !important;
}

.lpx-brand-logo.lpx-login-logo {
  display: none !important;
}

:root .mx-auto {
  margin-right: 1vw !important;
  margin-left: auto !important;
  width: 100vw !important;
  margin-top: auto !important;
  margin-bottom: auto !important;
}

/* :root .mx-auto {
  margin-right: 3vw !important;
  margin-top: auto !important;
  margin-bottom: auto !important;
  margin-left: auto !important;
  width: 70% !important;
}

:root .lpx-logo-container {
  padding: 0px !important;
  margin-left: auto!important;
  margin-right: auto!important;
  margin-top: auto!important;
  margin-bottom: auto!important;
  position: absolute !important;
  top: 40vh !important;
}

:root .lpx-login-brand-text .lpx-login-logo {
  background-size: auto 100% !important;
  width: 100% !important;
  background-position: center !important;
} */

/* .lpx-brand-logo {
  background-image: url(/images/clients/CaliberEMLoginImage.svg) !important;
} */